<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/assets/adminvendor/img/logo/logo.png" rel="icon">
  <title>RuangAdmin - Dashboard</title>
  <link href="/assets/adminvendor/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/adminvendor/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/adminvendor/css/ruang-admin.min.css" rel="stylesheet">
</head>

<script src="/assets/adminvendor/vendor/jquery/jquery.min.js"></script>
<script src="/assets/adminvendor/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/adminvendor/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/assets/adminvendor/js/ruang-admin.min.js"></script>
<script src="/assets/adminvendor/vendor/chart.js/Chart.min.js"></script>
<script src="/assets/adminvendor/js/demo/chart-area-demo.js"></script>
