<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="footer-03">

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h5>CARTES ACCEPTÉES</h5>
        <img src="/assets/img/stripelogo.svg.png" style="width: 100px">
      </div>
      <div class="col-sm">
        <h5> SERVICE CLIENT</h5>
        <p style="font-size: 20px">(+216) 20 073 089</p>
      </div>
      <div class="col-sm">
        <h5> HORAIRE D'ÉTÉ</h5>
        <p style="font-size: 20px">
          Lundi - Vendredi : 8h - 15h<br>
          Samedi : 8h - 12h
        </p>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">

      <div class="col-md-6">

        <div class="row">

          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">VOTRE COMPTE</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Informations personnelles</a></li>
              <li><a href="#" class="py-1 d-block">Commandes</a></li>
              <li><a href="#" class="py-1 d-block">Avoirs</a></li>
              <li><a href="#" class="py-1 d-block">Adresses</a></li>

            </ul>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h2 class="footer-heading">TERMES ET CONDITIONS</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block">Livraison</a></li>
              <li><a href="#" class="py-1 d-block">Paiement</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-end">
          <div class="col-md-12 col-lg-11 mb-md-0 mb-4">
            <h2 class="footer-heading">Follow Us</h2>
            <ul class="ftco-footer-social p-0">
              <li class="ftco-animate"><i class="fab fa-twitter"></i></li>
              <li class="ftco-animate"><i class="fab fa-facebook-f"></i></li>
              <li class="ftco-animate"><i class="fab fa-instagram"></i></li>
            </ul>
            <h2 class="footer-heading mt-5">Subscribe Us</h2>
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control rounded-left" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="form-control submit px-3 rounded-right">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 pt-4 border-top">
      <div class="col-md-6 col-lg-8">

        <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
      <div class="col-md-6 col-lg-4 text-md-right">
        <p class="mb-0 list-unstyled">
          <a class="mr-md-3" href="#">Terms &amp; Conditions</a>
          <a class="mr-md-3" href="#">Privacy</a>
        </p>
      </div>
    </div>
  </div>
</footer>



<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
